  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Livraison</h1>

    <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" routerLink="ajout_livraison">
        <i class="fas fa-plus fa-sm text-white-50"></i> Ajouter</a>
</div>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
            Liste Livraisons
            <!-- <span style="float: right; color:rgb(243, 101, 101); font-style: bold">{{data?.length}}</span> -->
        </h6>
    </div>
    <div class="card-body">
        <div class="table-responsive table-wrapper">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Reference</th>
                        <th>Date Livraison</th>
                        <th>Fourniture</th>
                        <th>Qte Livré</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- <tr *ngFor="let lcommande of data; let i = index;">
                        <td>{{i+1}}</td>
                        <td>{{lcommande.commande?.codeCommande}}</td>
                        <td>{{lcommande.commande?.dateCommande}}</td>
                        <td>{{lcommande.fourniture?.libelle}} - {{lcommande.fourniture?.base}}</td>
                        <td>{{lcommande.Qte}}</td>
                        <td>En cours</td>
                        <td>
                            <button  class="btn btn-info btn-circle btn-sm"  data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="edit(i, lcommande)">
                                <i class="fas fa-pen"></i>
                            </button>
                            <button class="btn btn-danger btn-circle btn-sm" style="margin-left: 5px;" (click)="delete(i, lcommande)">
                                <i class="fas fa-trash"></i>
                            </button>
                        </td>
                    </tr>                     -->
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog d-flex justify-content-center">
        <div class="modal-content w-75">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">
                    Modification - Commande
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-4">
                <!-- <form [formGroup]="commandeForm" (ngSubmit)="update(commandeForm)"> -->
                    <!-- Code input -->
                    <div class="form-outline mb-4">
                        <label class="form-label">Reference - Date Commande</label>
                        <select class="form-control" formControlName="CommandeId" id="CommandeId" autocomplete="off">
                            <option value="">Sélectionnez une référence</option>
                            <!-- <option *ngFor="let cmd of commandes" [value]="cmd.id">{{ cmd.codeCommande }} - {{ cmd.dateCommande }}</option> -->
                        </select>
                    </div>
 
                    <!-- Libellé input -->
                    <div class="form-outline mb-4">
                        <label class="form-label">Fourniture</label>
                        <select class="form-control" formControlName="FounitureId" id="FounitureId" autocomplete="off">
                            <option value="">Sélectionnez une fourniture</option>
                            <!-- <option *ngFor="let fournit of fournitures" [value]="fournit.id">{{fournit.libelle }}</option> -->
                        </select>
                    </div>

                    <!-- Libellé input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="libelle">Qte</label>
                        <input type="text" id="libelle" formControlName="Qte" id="Qte" class="form-control" autocomplete="off" />
                    </div>
                    
                    <!-- <input type="hidden" [value]="currentdate"  formControlName="date_creation" class="form-control" autocomplete="off" /> -->

                    <!-- Submit button -->
                    <!-- <button type="submit" class="btn btn-primary btn-block">Enregistrer</button> -->
                    <button type="reset" class="btn btn-warning">Annuler</button>
                    <button type="submit" class="btn btn-primary" style="margin-left: 5px;" data-bs-dismiss="modal">Modifier</button>
                <!-- </form> -->
            </div>
        </div>
    </div>
</div>
<!-- Modal -->