                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Accueil</h1>
                        <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-download fa-sm text-white-50"></i> Imprimer Report</a> -->
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Commandes En cours (Mois)</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">45</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-list fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Livraison (Annuel)</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">255</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="far fa-arrow-alt-circle-right fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Sortie (Annuel)
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">105</div>
                                                </div>
                                                <div class="col">
                                                    <div class="progress progress-sm mr-2">
                                                        <div class="progress-bar bg-info" role="progressbar"
                                                            style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                                            aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="far fa-arrow-alt-circle-left fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                Fourniture Seuil</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">5</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-box fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->

                    <!-- -->

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Stock Fourniture</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Catégorie</th>
                                            <th>Fourniture</th>
                                            <th>Livraison</th>
                                            <th>Sortie</th>
                                            <th>Qte disponible</th>
                                            <th>Qte minimum</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Catégorie</th>
                                            <th>Fourniture</th>
                                            <th>Livraison</th>
                                            <th>Sortie</th>
                                            <th>Qte disponible</th>
                                            <th>Qte minimum</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr>
                                            <td>Bureau</td>
                                            <td>Agrafes</td>
                                            <td>0</td>
                                            <td>15</td>
                                            <td>15</td>
                                            <td>5</td>
                                        </tr>
                                        <tr>
                                            <td>Bureau</td>
                                            <td>Trombones</td>
                                            <td>10</td>
                                            <td>15</td>
                                            <td>5</td>
                                            <td>5</td>
                                        </tr>
                                        <tr>
                                            <td>Papeterie</td>
                                            <td>Ramette</td>
                                            <td>20</td>
                                            <td>4</td>
                                            <td>18</td>
                                            <td>10</td>
                                        </tr>
                                        <tr>
                                            <td>Consommable</td>
                                            <td>Cartouche Noir</td>
                                            <td>25</td>
                                            <td>15</td>
                                            <td>10</td>
                                            <td>5</td>
                                        </tr>
                                        <tr>
                                            <td>Gestion de papier</td>
                                            <td>Classeur</td>
                                            <td>50</td>
                                            <td>16</td>
                                            <td>34</td>
                                            <td>10</td>
                                        </tr>
                                        <tr>
                                            <td>Gestion de papier</td>
                                            <td>Intercalaire</td>
                                            <td>32</td>
                                            <td>11</td>
                                            <td>21</td>
                                            <td>10</td>
                                        </tr>
                                        <tr>
                                            <td>Bureau</td>
                                            <td>Agrafeuse</td>
                                            <td>43</td>
                                            <td>10</td>
                                            <td>33</td>
                                            <td>10</td>
                                        </tr>
                                        <tr>
                                            <td>Bureau</td>
                                            <td>Perforateur</td>
                                            <td>12</td>
                                            <td>03</td>
                                            <td>11</td>
                                            <td>5</td>
                                        </tr>
                                        <tr>
                                            <td>Administrative</td>
                                            <td>Bloc note</td>
                                            <td>15</td>
                                            <td>4</td>
                                            <td>11</td>
                                            <td>5</td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>